---

/*
    *  ------------------------------------------------------------------------------------------------------  *
    *  -----  NavbarBtnThemesJQueryUI.astro  --  /src/components/buttons/NavbarBtnThemesJQueryUI.astro  -----  *
    *  ------------------------------------------------------------------------------------------------------  *
*/


import '@styles/buttons/buttons.css';


---


<!--  -----  LAYOUT BTN-NAVBAR THEMES JQUERY UI  -----  -->
<div class="layout__btn-navbars-themes-jquery-ui" id="btnNavbarThemesJQueryUI">

    <!--  -----  Contenedor del Botón Navbar de Themes jQuery UI de Navegación  -----  -->
    <div class="btn-navbar-themes-jquery-ui__container">

        <!--  -----  Botón del Menú Hamburguesa de Navegación Open -----  -->
        <div class="navbar-ui__btn-open">
            <div class="btn-ui__icon-open"> </div>
            <div class="btn-ui__icon-open"> </div>
            <div class="btn-ui__icon-open"> </div>
        </div>

        <!--  -----  Botón del Menú Hamburguesa de Navegación Close -----  -->
        <div class="navbar-ui__btn-close">
            <div class="btn-ui__icon-close"> </div>
            <div class="btn-ui__icon-close"> </div>
        </div>

    </div>

</div>
