---
/*
    *  -------------------------------------------------------------------  *
    *  -----  Loader.astro  --  /src/components/layout/Loader.astro  -----  *
    *  -------------------------------------------------------------------  *
*/


import '@styles/layout/loader.css';


---


<!--  ----------  LOADER  ----------  -->
<div class="loader__container" id="loader">
    <h1 class="header__title-main">&lt; Curso jQuery Escuela.IT /&gt;</h1>

    <div class="spinner">
    <!--  *****  Spinner  *****  -->
    </div>

    <img
        class="loader__icon-jquery"
        src="/assets/img/logos/jquery/jquery-loader.svg"
        alt="jQuery Animation Loader"
        width="300"
        height="300"
    />

    <h2 class="header__title-main">&lt; escuela.it /&gt;</h2>
</div>
